.table-toolbar {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}
.table-toolbar button.table-pagination {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-size: 14px;
  color: #2e3f57;
  background: #fff;
  border: 1px solid #d9d9d9;
  width: 32px;
  height: 32px;
  padding: 2.4px 0;
  font-size: 16px;
  border-radius: 2px;
  vertical-align: -1px;
  color: #586c93;
  border-color: #d3dee7;
  margin-left: 8px;
}
.table-toolbar button.table-pagination:active,
.table-toolbar button.table-pagination:focus,
.table-toolbar button.table-pagination:hover {
  border-color: #e6f4fc;
  background-color: #e6f4fc;
  color: #3ab0de;
  text-decoration: none;
}
.table-toolbar button.table-pagination[disabled],
.table-toolbar button.table-pagination[disabled]:active,
.table-toolbar button.table-pagination[disabled]:focus,
.table-toolbar button.table-pagination[disabled]:hover {
  color: rgba(0, 0, 0, 0.25);
  background: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: default;
}
.table-toolbar select {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  padding: 0 16px 0 10px;
  background: #fff;
  width: 32px;
  height: 32px;
  font-size: 14px;
  border-radius: 2px;
  vertical-align: -1px;
  color: #586c93;
  border-color: #d3dee7;
  margin-left: 8px;
}
.table-toolbar .MuiOutlinedInput-notchedOutline {
  border: none;
}
.table-toolbar .MuiInputBase-formControl {
  border-radius: 2px;
}
.table-toolbar input {
  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  background-image: none;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  height: 14px;
  background: #fff;
  font-size: 14px;
  border-radius: 2px;
  vertical-align: -1px;
  color: #586c93;
  border: 1px solid #d3dee7;
}
.table-toolbar input:focus {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-color: #40a9ff;
}
.tbody {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}
