//colors
$dark-grey: #333333;
$light-grey: #f7f7f7;
$grey: #666;
$secondaryBlue: #0c8ce9;

//font-sizes
$font-size-large: 18px;
$font-size-small: 14px;

//Spacing
$s-size: 12px;
$m-size: 16px;
$l-size: 32px;
$xl-size: 48px;
$desktop-breakpoint: 45px;