/* ROWS */
.fullHeight > div > div > .tbody {
    max-height: calc(100vh - 100px);
}

.fullHeight > div {
    width: 100%;
}

.fullHeight > div > div {
    width: 100%;
}

.fullHeight > div > div > div {
    width: 100%;
}
.fullHeight > div > div > div > div {
    width: 100% !important;
}

.fullHeight > div > div > div > div > div {
    width: 100% !important;
}

.fullHeight > div > div > div > div > div > * {
    width: 100% !important;
    padding: 0.25rem 0.25rem;
}

.fullHeight > div > div > div > div > div > *:first-child {
    width: 125px !important;
}

/* HEADERS */
.fullHeight > div > div > div > div > div[role=columnheader] {
    padding: 12px 4px;
}
.fullHeight > div > div > div > div > div[role=columnheader]:first-child {
    width: 125px !important;
}
