.fileUploadContainer {
    border: 1px dashed #9F9F9F;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    justify-content: center;
    /*margin-left: 25px;*/
    width: 600px;
    height: 150px;
    /*padding: 10px;*/
    input {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 10px auto;
        padding: 5px;
        border-radius: 5px;
        background-color: white;
        cursor: pointer;
        text-align: center;
    }
    h5{
        text-align: center;
    }
    &:hover {
        transform: scale(1.05);
    }
}

.noMoreFiles {
    cursor: no-drop
}

.uploadIcon {
    display: flex !important;
    flex-direction: column;
    font-size: 6rem !important;
    width: 100px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 30px auto 10px auto;
}

.fileUploadTitle {
    margin-left: 25px;
    font-weight: 600;
}

.imageContainer {
    margin: 10px 0;
    display: flex;
    align-items: center;
    // margin-left: 50px;
    margin-right: 10px;
    .image {
        width: 50px
    }
}

.upLoadTitleContainer {
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
}

.uploadTitle {
    // font-weight: bold;
    color: #0c8ce9;
}

.uploadSubTitle {
    font-size: 12px;
    color: #9F9F9F;
}

.dropzone {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
