.fileImg {
    font-size: 20px;
}

.docIdon {
    width: 40px;
    height: 40px;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

.grey {
    color: #9F9F9F;
}

.blue {
    color: blue;
}

.green {
    color: green;
}