.submitContainer {
    margin-top:10px;
    display: flex;
    margin-left: auto;
}

.submitButton {
    margin-left: auto;
}

.confirmAlert{
    // display: flex;
    // min-width: 100%;
    // margin: 0 20px 0 15px; 
}